body {
  margin: 0;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://cloud.githubusercontent.com/assets/14034891/11740208/1a5d43e6-a045-11e5-9803-dae187d0bfd8.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Century Gothic';
  color: white;
  text-align: center;
}
#button {
  padding: 10px;
  width: auto;
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 10em;
}
h3 {
  font-size: 5em;
}
p {
  font-size: 5em;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-width: 0;
}
