@import 'https://fonts.googleapis.com/css?family=Dosis';
body {
  margin: 0;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://cloud.githubusercontent.com/assets/14034891/11740208/1a5d43e6-a045-11e5-9803-dae187d0bfd8.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Dosis', sans-serif;
  color: white;
  text-align: center;
}
#button {
  padding: 10px;
  width: auto;
  text-decoration: none;
  color: white;
}
input[type="submit"] {
  margin-bottom: 1em;
  width: 1em;
  font-size: 1em;
  height: 1em;
  box-sizing: content-box;
}
button {
  margin-bottom: 1em;
  width: 100%;
  font-size: 2.5em;
  height: 2em;
  box-sizing: content-box;
}
h1 {
  font-size: 10em;
}
h2 {
  font-size: 7.5em;
}
h3 {
  font-size: 5em;
}
p {
  font-size: 5em;
}
form {
  font-size: 5em;
}
input {
  font-size: 0.9em;
}
input[type="text"] {
    background-color: rgba(255,255,255,0.5);
    border-radius: 1em;
    border-style: solid;
    border-color: white;
    border-width: 0.03em;
}
input[type="text"], textarea, keygen {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: rgba(255,255,255,0.75);
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-width: 0;
}

@media only screen and (max-device-width: 699px) {
	body {
		overflow: hidden;
	}
}
